<div class="wrapper login-page">
  <div class="container">
    <h1>Welcome</h1>

    <form class="form" ng-submit="login.login()">
      <input type="text" placeholder="Username" ng-model="login.user">
      <input type="password"  placeholder="Password"  ng-model="login.password">
      <button type="submit" id="login-button" >Login</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>