.states-container {
  display: flex;
  .scenarios-container{
    flex: 0 0 200px;
    height: 100%;
    border-right: 1px solid #ccc;
  }
  .states-list {
    flex: 1;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
    transition: width 200ms ease-out;
    .states-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-right: 1px;
      .search-state {
        border: 1px solid #ccc;
        border-width: 0 0 1px 0;
        width: 200px;
        outline: none;
        font-size: 15px;
      }
    }
  }
}