.leonardo-export {
  overflow: auto;
  .leonardo-export-buttons {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 6px;
    width: 180px;
    height: 42px;
    font-size: 110%;
  }
  .leonardo-exported-code {
    width: 95%;
    height: 400px;
    overflow-y: scroll;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .leonardo-spacer{
    height: 100px;
  }

  button {
    outline: none;
  }
}