<div class="leonardo-window-body">
  <div class="tabs">
    <div ng-click="selectedItem = 'configure'" ng-class="{ 'selected': selectedItem == 'configure' }">Configure</div>
    <div ng-click="selectedItem = 'activate'" ng-class="{ 'selected': selectedItem == 'activate' }">Activate</div>
    <div ng-click="selectedItem = 'test'" ng-class="{ 'selected': selectedItem == 'test' }">Test</div>
  </div>
  <div ng-switch="selectedItem" class="leonardo-window-options">
    <div ng-switch-when="configure" class="leonardo-configure">
      <table>
        <thead>
          <tr>
            <th>State</th>
            <th>URL</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="state in states">
            <td>{{state.name}}</td>
            <td>{{state.url}}</td>
            <td>
              <ul>
                <li ng-repeat="option in state.options">
                  Name: {{option.name}}<br/>
                  Status: {{option.status}}<br/>
                  Data: {{option.data}}<br/>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-switch-when="activate" class="leonardo-activate">
      <ul>
        <li><h3>Non Ajax State</h3></li>
        <li ng-repeat="state in ::states | filter:NothasUrl">
          <div>
            <div class="onoffswitch">
              <input ng-model="state.active" ng-click="updateState(state)" class="onoffswitch-checkbox" id="{{::state.name}}" type="checkbox" name="{{::state.name}}" value="{{::state.name}}">
              <label class="onoffswitch-label" for="{{::state.name}}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
          <div>
            <h4>{{::state.name}}</h4>
          </div>
          <div>
            <select ng-model="state.activeOption" ng-options="option.name for option in ::state.options" ng-change="updateState(state)"></select>
          </div>
        </li>
        <li><h3>Ajax State</h3></li>
        <li ng-repeat="state in ::states | filter:hasUrl">
          <div>
            <div class="onoffswitch">
              <input ng-model="state.active" ng-click="updateState(state)" class="onoffswitch-checkbox" id="{{::state.name}}" type="checkbox" name="{{::state.name}}" value="{{::state.name}}">
              <label class="onoffswitch-label" for="{{::state.name}}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
          <div>
            <h4>{{::state.name}}</h4>&nbsp;&nbsp; - {{::state.url}}
          </div>
          <div>
            <select ng-model="state.activeOption" ng-options="option.name for option in ::state.options" ng-change="updateState(state)"></select>
          </div>
        </li>
      </ul>
    </div>
    <div ng-switch-when="test" class="leonardo-test">
      <div>
        <label for="url"></label>URL: <input id="url" type="text" ng-model="test.url"/>
        <input type="button" ng-click="submit(test.url)" value="submit"/>
      </div>
      <textarea>{{test.value | json}}</textarea>
    </div>
  </div>
</div>