<div class="leonardo-window-body">
  <div ng-switch="leonardo.activeTab" class="leonardo-window-options">
    <div ng-switch-when="recorder" class="leonardo-recorder">
      <div class="leo-list">
        <div class="list-group">
          <leo-request
            ng-repeat="request in leoWindowBody.requests"
            request="request"
            on-select="leoWindowBody.requestSelect(request)" />
        </div>
      </div>
      <div class="leo-detail" ng-show="leoWindowBody.hasActiveOption()">
        <div class="leo-detail-header">
          <div ng-if="!leoWindowBody.detail.stateActive">
            <span>Add new state: </span>
            <input  class="leo-detail-state" ng-model="leoWindowBody.detail.state" placeholder="Enter state name"/>
          </div>
          <div ng-if="leoWindowBody.detail.stateActive" class="leo-detail-state">Add mocked response for "{{leoWindowBody.detail.state}}"</div>
        </div>
        <div class="leo-detail-option">
          <div>Response name: <input ng-model="leoWindowBody.detail.option"/></div>
          <div>Status code: <input ng-model="leoWindowBody.detail.status"/></div>
          <div>Delay: <input ng-model="leoWindowBody.detail.delay"/></div>
          <div class="leo-detail-option-json">Response JSON:
            <div class="leo-error">
              {{leoWindowBody.detail.error}}
            </div>
            <textarea ng-model="leoWindowBody.detail.stringValue"></textarea>
          </div>
        </div>

        <div class="leo-action-row">
          <button ng-click="leoWindowBody.saveUnregisteredState()">{{ leoWindowBody.detail.stateActive ? 'Add Option' : 'Add State' }}</button>
        </div>
      </div>
    </div>
    <div ng-switch-when="export" class="leonardo-export" style="padding: 30px">
      <button class="exportButtons" ngclipboard data-clipboard-target="#exportedCode"> Copy To Clipboard  </button>
      <button class="exportButtons" ng-click="leoWindowBody.downloadCode()"> Download Code </button>
      <code contenteditable ng-init="leoWindowBody.getStatesForExport()">

        <div id="exportedCode">
          <div>angular.module('leonardo').run(['leoConfiguration', function(leoConfiguration) {</div>
          <div ng-repeat="state in leoWindowBody.exportStates">
            <div style="margin-left: 10px">leoConfiguration.addStates([</div>
            <pre style="margin-left: 20px">{{state | json}}</pre>
            <div style="margin-left: 10px">])</div>
          </div>
        </div>

        <div>}])</div>

      </code>
    </div>
    <div ng-switch-when="scenarios" class="leonardo-activate">
      <div class="leonardo-menu">
        <div>
          SCENARIOS
        </div>
        <ul>
          <li ng-class="{ 'selected': scenario === leoWindowBody.activeScenario }"
              ng-repeat="scenario in leoWindowBody.scenarios() track by $index"
              ng-click="leoWindowBody.activateScenario(scenario)">{{scenario}}
          </li>
        </ul>
      </div>

      <ul>
        <li>
          <div class="states-filter-wrapper">
            <label for="filter" class="states-filter-label">Search for state</label>
            <input id="filter" class="states-filter" type="text" ng-model="leoWindowBody.filter">
            <button ng-click="leoWindowBody.toggleActivate()"> {{leoWindowBody.activateBtnText}} </button>
          </div>
          <div class="save-scenario-btn">
            <button ng-click="leoWindowBody.showAddState = !leoWindowBody.showAddState">+ Add Scenario</button>
          </div>
        </li>
        <li class="save-scenario-form">
          <div ng-if="leoWindowBody.showAddState">
            <label>Scenario Name</label>
            <input type="text"
                   ng-model="leoWindowBody.newScenarioName"
                   ng-keydown="$event.which === 13 && leoWindowBody.saveNewScenario()"
                   placeholder="Scenario Name" autofocus/>
            <button ng-click="leoWindowBody.saveNewScenario()"
                    ng-disabled="!leoWindowBody.newScenarioName.length">Save
            </button>
            <button ng-click="leoWindowBody.closeNewScenarioForm()">Cancel</button>
          </div>
        </li>
        <li
          class="request-item"
          ng-repeat="state in nonAjaxState = (leoWindowBody.states | filter:leoWindowBody.notHasUrl | filter:{name: leoWindowBody.filter}) track by $index"
          ng-class="{ 'leo-highlight': state.highlight, selected:leoWindowBody.selectedState === state}">
          <leo-state-item
            ng-class="{}"
            state="state"
            ajax-state="false"
            on-toggle-click="leoWindowBody.toggleState(state)"
            on-option-changed="leoWindowBody.updateState(state, option)"
            on-remove-option="leoWindowBody.removeOption(state,option)"
            on-remove-state="leoWindowBody.removeState(state)"
            on-edit-click="leoWindowBody.stateItemSelected(state$)"></leo-state-item>
        </li>
        <li
          class="request-item"
          ng-repeat="state in ajaxReuslts = (leoWindowBody.states | filter:leoWindowBody.hasUrl | filter:{name: leoWindowBody.filter}) track by $index"
          ng-class="{ 'leo-highlight': state.highlight, selected:leoWindowBody.selectedState === state}">
          <leo-state-item
            ng-class="{}"
            state="state"
            ajax-state="true"
            on-toggle-click="leoWindowBody.toggleState(state)"
            on-option-changed="leoWindowBody.updateState(state, option)"
            on-remove-option="leoWindowBody.removeOption(state,option)"
            on-remove-state="leoWindowBody.removeState(state)"
            on-edit-click="leoWindowBody.stateItemSelected(state$)"></leo-state-item>
        </li>
        <li ng-show="!ajaxReuslts.length && !nonAjaxState.length">No Results Found</li>
      </ul>
      <div class="edit-state" ng-class="{visible:!!leoWindowBody.editedState}">
        <!--<p> {{ leoWindowBody.editedState | json : spacing}}</p>-->
        <div class="leonardo-edit-option" ng-if="!!leoWindowBody.editedState">
          <div class="leo-detail">
            <div class="leo-detail-option">
              <span class="title">Edit option <b>{{leoWindowBody.editedState.activeOption.name}}</b> for state <b>{{leoWindowBody.editedState.name}}</b></span>
              <div>Status code: <input ng-model="leoWindowBody.editedState.activeOption.status"/></div>
              <div>Delay: <input ng-model="leoWindowBody.editedState.activeOption.delay"/></div>
              <div class="leo-detail-option-json">Response JSON:
                <div class="leo-error">{{leoWindowBody.editedState.error}}</div>
                <leo-json-formatter
                  json-string="leoWindowBody.editedState.dataStringValue"
                  on-error="leoWindowBody.onEditOptionJsonError(msg)"
                  on-success="leoWindowBody.onEditOptionSuccess(value)" />
              </div>
            </div>

            <div class="leo-action-row">
              <button ng-click="leoWindowBody.saveEditedState()">Save</button>
              <button ng-click="leoWindowBody.closeEditedState()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-switch-when="test" class="leonardo-test">
      <div>
        <label for="url"></label>URL: <input id="url" type="text" ng-model="leoWindowBody.test.url"/>
        <input type="button" ng-click="leoWindowBody.submit(test.url)" value="submit"/>
      </div>
      <textarea>{{leoWindowBody.test.value | json}}</textarea>
    </div>
  </div>
</div>
