.leonardo-states-list {
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 10px;
  div:nth-child(2n+3) {
    background: #eee;
  }
  .leonardo-state-item:hover {
    background: rgba(47, 204, 255, 0.32);
  }
}