.leonardo-recorder {
  height: 100%;
  display: flex;
  border-top: 1px solid @lightGray;
  .leo-list {
    flex: 3;
    ul {
      padding: 0;
      margin: 0;
    }
    border-right: 1px solid @lightGray;
    .leo-recorded-item {
      cursor: pointer;
      &:hover {
        background: lightblue;
      }
      padding: 5px;
      border-radius: 2px;
    }
  }
  .leo-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    textarea {
      flex: 1;
      border: 0;
      padding: 20px;
      &:focus {
        outline: none;
      }
    }

    .leo-error {
      color: Red;
    }
  }
}
