.leonardo-activate {
  display: flex;
  height: 100%;

  .leonardo-menu {
    padding: 5px;
    flex: 0.5;
    border-right: 1px solid #cccccc;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      border-width: 0 0 1px 0;
      display: block;
      cursor: pointer;
      font-size: 13px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > ul {
    margin: 0;
    flex: 3;
    list-style: none;
    padding: 5px;
  }

  li {
    display: flex;
    align-items: center;

    .leo-expand {
      flex: 1;

      .url {
        margin-left: 10px;
        font-size: 13px;
      }
    }

    button {
      padding: 5px;
      margin-left: 10px;
    }
  }

  h4 {
    padding: 0;
    display: inline;
    font-size: 14px;
    font-weight: 600;
  }

  select {
    width: 200px;

    &[disabled] {
      opacity: 0.5;
    }
  }

}
